<h1>Blog list</h1>
<div class="col-sm-6">
    <input type="text" ng-model="query" class="form-control" placeholder="Filter posts"/>
</div>
<!--<ul ng-if="items.length > 0">-->
    <!--<li ng-repeat="item in items">-->
        <!--<a ng-href='/blog/{{item.id}}' confirm-click='Are you ready ?' confirmed-click='goToItem(item)'>{{item.title}} ({{item.publishDate}})</a>-->
    <!--</li>-->
<!--</ul>-->

<span ng-if="items.length == 0">Posts coming soon...</span>
<br/>
<hr/>
<select ng-model="order">
    <option value="-publishDate">Recent</option>
    <option value="publishDate">Older</option>
    <option value="title">A-Z</option>
    <option value="-title">Z-A</option>
</select>
<div class="row" dir-paginate="items in colItems | itemsPerPage: 2" pagination-id="main-content"> <!-- The items per page refers to the ROWS, not to posts. -->
    <div class="{{cssClass}}" ng-repeat="post in items | orderBy: order | filter: query">
        <div class="thumbnail">
            <img ng-src="{{post.image}}" alt="..."/>
            <div class="caption">
                <h3>{{post.title}}</h3>
                <p>{{post.description}} </p>
                <p>{{post.publishDate}}</p>
                <p>
                    <a ng-href="#" confirm-click='Are you ready ?' confirmed-click='goToItem(post)' class="btn btn-primary" role="button">View</a>
                </p>
            </div>
        </div>
    </div>
</div>

<dir-pagination-controls ng-hide="query.length > 0" pagination-id="main-content"></dir-pagination-controls>

<hr/>
<h3>Nasty looking list</h3><br/>
<ul>
    <li dir-paginate="item in items | itemsPerPage: 3" pagination-id="nasty-pagination">
        {{item.title}}
    </li>
</ul>
<dir-pagination-controls pagination-id="nasty-pagination"></dir-pagination-controls>